:root {
    --main-bg-color: rgb(33, 37, 41);
    --main-fg-color: rgb(215, 215, 215);
    --accent-fg-color: rgb(120, 130, 138);
    --link-color: rgb(112, 179, 255);
}

@font-face {
  font-family: "Pixelify";
  src: url("/fonts/PixelifySans-Regular.ttf") format('truetype');
}

body {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    font-family: sans-serif;
    line-height: 1.5;
    margin: 1rem;
}

header {
    border-bottom: 1px solid var(--accent-fg-color);
    margin-bottom: 1rem;
}

footer {
    border-top: 1px solid var(--accent-fg-color);
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

code {
  max-width: 100%;
}
/* Add wrapping to the text in code blocks */
pre code { white-space: pre-wrap; }

/* 
 * Container for the site the general grid should go here 
 */
.main-container {
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-areas:
        "content-header"
        "content-main"
        "content-footer";
    grid-template-rows: auto max-content 5rem;
}

.pixel {
    font-family: Pixelify, sans-serif;
}

.accent {
    color: var(--accent-fg-color);
}

/* Header START */
.content-header {
    grid-area: content-header;
    align-items: center;
    width: clamp(200px, 50%, 800px)
}

.header-layout {
    display: grid;
    grid-template-rows: 4rem auto 2rem;
}

.site-title {
    font-size: xx-large;
}

.site-subtitle {
    font-size: medium;
    margin: 0;
    margin-bottom: 1em;
}

.menu {
    display: inline-grid;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(2, 5rem);
}

.menu-item {
    display: inline-block;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Header END */

.content-main {
    grid-area: content-main;
    width: clamp(30rem, 50rem, 50rem);
    min-height: 20rem;
}

.content-footer {
    grid-area: content-footer;
}
